publishSubscribeUsingTopic/src/main/mule/secondSubscriber.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<jms:config name="JMS_Config_Subscriber2" doc:name="JMS Config" doc:id="38aa758f-2c92-4c07-af32-1d5fce001efc" >
		<jms:active-mq-connection username="admin" password="admin" clientId="secondSubscriber">
			<jms:caching-strategy >
				<jms:default-caching />
			</jms:caching-strategy>
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
		<jms:consumer-config >
			<jms:consumer-type >
				<jms:topic-consumer durable="true" subscriptionName="secondSubscriber" />				
			</jms:consumer-type>
		</jms:consumer-config>
	</jms:config>
	<flow name="secondSubscriber" doc:id="5d9444d6-1ac5-4c8d-a490-e12524a07718" >
		<jms:listener doc:name="Listener" doc:id="d6dd61c5-40b7-4505-aa42-f957b4a0020e" config-ref="JMS_Config_Subscriber2" destination="docupaceevents" numberOfConsumers="1"/>
		<logger level="INFO" doc:name="Logger" doc:id="7649ea1b-fe4e-4632-94f1-ff66c89d0e80" message="#[payload]"/>

	</flow>
</mule>
